<div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12"
     *ngFor="let p of cartList">
      <div class="thumbnail mt-5 shadow p-3 mb-5 bg-white rounded">
        <!-- <img src="{{p.img}}" class="img-responsive"> -->
        <img [src]="p.thumbnailImage" class="img-responsive">
        <h6 class="text-center text-primary">{{i+1}} {{p.name |uppercase|slice:0:10}}</h6>
        <p class="text-center text-success">{{p.shortDescription|lowercase|slice:textIndex.startIndex:textIndex.endIndex}} </p>
        <div class="row">
          <button class="btn btn-primary" (click)="addToCart(p)">+</button>{{p.quantity}}
          <button class="btn btn-primary" (click)="removeFromCart(p)">-</button>
        </div>
        <span class="text-center text-success">{{p.salePrice |currency:'EUR'}}
          <button class="btn btn-warning" (click)="showMore()">Show More</button>
        </span>
      </div>
    </div>
  </div>